<html>
  <head>
    <style type='text/css'>
      .content-footer { width: 100%; font-family: SegoeUI; color: black;
      padding: 15px; -webkit-print-color-adjust: exact; vertical-align: middle;
      font-size: 12px; margin-top: 0; display: inline-block; text-align: right;
      }
    </style>
  </head>
  <body>
    <div class='content-footer'>
      Page
      <span class='pageNumber'></span>
      of
      <span class='totalPages'></span>
    </div>
  </body>
</html>