{{#> layout}}

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <span class="title">Technical Review</span><br />
        <br />

        <span class="bold">Status</span><br />
        {{technicalReview.status}}<br />
        <br />

        <span class="bold">Time Allocation</span><br />
        {{technicalReview.timeAllocation}} Days<br />
        <br />

        <span class="bold">Comment</span><br />
        {{{technicalReview.publicComment}}}<br />
        <br />

      </div>
    </div>
  </div>

{{/layout}}